{% extends '_layout.html' %}

{% block body %}
    <!--<div class="jumbotron">
    <h1>Articles</h1>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a> <small>by {{article.author}}</small> </li> 
        {% endfor %}
    </ul>
    </div>-->
    <h1>Uploaded Articles</h1>    
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadModal">Upload File</button>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Sr.No</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td><a href="article/{{article.id}}">{{article.title}}</a></td>
                <td>{{article.author}}</td>
                <td>{{article.createdt}}</td>
                <td><a href="edit_article/{{article.id}}" class="btn btn-default pullright">Edit</a></td>
                <td>
                    <form action="{{url_for('delete_article', id=article.id)}}" method="POST">
                        <input type="hidden" name="_method" value="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!-- Modal -->
    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Upload file</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>
            <div class="modal-body">
              <!--<p>Upload file</p>-->
                <form action = "upload" method = "POST" enctype = "multipart/form-data">
                  <input type = "file" name = "file" />
                  <input type = "submit" />
                </form>
                <div class="progress">
                    <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      0%
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info btn-xs" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}